body {
    padding: 0px;
    border: 0px;
    margin: 0%;
    background: #eeeeee;
    font-family: 'Work Sans', sans-serif;
  }
  
  .full-header {
    width: 100%;
    height: 80px;
    background: #2f2f2f;
    position: fixed;
    z-index: 997;
    top: 0;
    border-bottom: 5px solid #007ab5;
    padding: 0px;
    margin: 0px;
  }
  
  .lame {
    color: white;
    font-size: 20px;
    text-transform: capitalize;
  }
  
  .full-header .navig {
    padding: 0;
    border: 0;
    margin: 0;
    opacity: 0.85;
    
  }
  
  .full-header table {
    width: 100%;
    border-spacing: 0px;
    height: 80px;
    text-align: center;
  }
  
  .full-header table th {
    padding: 0;
  }
  
  .full-header .navig .menu {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .full-header .navig .menu li {
    list-style: none;
    float: left;
    display: block;
  }
  
  .full-header .navig .menu li.active {
    background-color: whitesmoke;
    color: #2f2f2f;
  
  }

  .full-header .navig .menu li a {
    display: block;
    height: 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    padding: 30px 15px 30px 15px;
    color: white;
  }
  
  .full-header .navig .menu li.active a {
    color: #2f2f2f;
  }
  .full-header .navig .menu li.active a:hover {
    color: #2f2f2f;
  }

  .full-header .navig .menu li a:hover {
    color: #007ab5;
  }
  
  .icon {
    height: 76px;
    width: 76px;
    opacity: 1;
    padding: 0px;
    border: 0px;
  }
  .footer {
    width: 100%;
    height: 80px;
    background: #2f2f2f;
    z-index: 997;
    bottom: 0;
    border-top: 5px solid #007ab5;
    padding: 0px;
    margin: 0px;
  }
  .content
  { 
    margin-right: 15%;
    margin-left: 15%;
    width: auto;
    background-color: white;
    padding: 30px;
    margin-top: 120px;
    margin-bottom: 120px;
    min-height: 1200px;
    margin-bottom: 30px;
    box-shadow: 0 0 8px 0 black;
  }
  .parody
  {
    display: block; 
    position: fixed; 
    top:0;
    right: 0;
    z-index: 998;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: black;
    box-shadow: 0 0 8px 0 black inset;
    backdrop-filter: blur(10px);
  }
  .parodydiv{
    position: fixed; 
    top:30%;
    left: 33%;
    text-align: center;
    font-size: 30px;
    z-index: 999;
    padding: 25px 25px 75px 25px;
    background-color: #eeeeee;
    color: black;
    box-shadow: 0 0 8px 0 black;
  }
  @keyframes mymove {
    75% {text-shadow: 0px 20px 30px #eeeeee;}
  }
  .contactTable{
    width:100%;
}
.contactTable tr{
    height:40px;
}
.contactTable td {
   width: 50%;
}
.contactTable input {
    height: 25px;
    width: 100%;
    border:1px solid #ccc;
    border-radius: 10px;
}
.contactTable textarea {
  width: 100%;
  border:1px solid #ccc;
  border-radius: 10px;
  resize: none;
  
}
.contactTable #responseError1{
  height:40px; width: 100%;
}
.contactTable #responseError2{
  width: 50%;
}
.contactTable select{
    width:100%;
    border:1px solid #ccc;
    border-radius: 10px;
}
.contactTable #validate{
        
        height:30px;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 8px 60px;
        text-align: center;
        
        font-size: 12px;
        margin: 40px 2px;
        cursor: pointer;
        border-radius: 8px;
        
    
}
.wrapper{
    text-align: center;
}
.contactClass{
  text-align: center;
  font-size: 30px;
}
