
  .content .news
  {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 400px;

  }
  .content .news .mainnews
  {
    width: 60%;
    height: 100%;
    z-index: 2;
    position: absolute;

  }
  .content .news .secunder
  {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0px;
    z-index: 2;
    
  }
  .newsHeader {
    z-index: 5;
    position: absolute;
    bottom: 0px;
    padding: 15px 0px 15px 0px;
    font-weight: bold;
    text-align: justify;
    width: 100%;
    font-size: 200%;
    color: #eeeeee;
    animation: mymove 10s infinite;
    background-color: rgba(0, 0, 0, 0.5) ;
  }
  .content .news .secunder .secundernews
  {
    z-index: 3;
    width: 100%;
    height: 50%;
    position: relative;
    
  }
  .content .othernews
  {
    text-transform: capitalize;
    color: white;
    z-index: 4;
    background:  #007ab5;
    width: 100%;
    height: 20px;
    padding: 10px 0px;
    position: relative;
    top: 25px;
    font-size: 20px;
    tab-size: 8;
  }
  .content .newscontent
  {
    display: block;
    width: 100%;
    background: #eeeeee;
    z-index: 4;
    min-height: 1000px;
    top: 30px;
    position: relative;
    margin-block-end: 30px;
  }
  .content .newscontent .contentscointner
  { 
    z-index: 4;
    min-height: 100%;
    width: 100%;
    position: absolute;
  }
  .content .newscontent .contentscointner .contents{
    z-index: 6;
    width: 100%;
    height: 200px;
    position: relative;
  }
  .content .newscontent .contentscointner .contents .newslink {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    position: absolute;
  }
  .content .newscontent .contentscointner .contents .newslink .contentimage {
    height: 100%; 
    width:40%;
    position: absolute;
    left: 0px;
  }
  .content .newscontent .contentscointner .contents .newslink .contentword {
    height: 50%; 
    width:60%;
    position: absolute;
    right: 0px;
    color: black;
  }
